<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <h1 class="image-header">.</h1>
    <h1 class="index-h1">Animal list Index</h1>
    <%- include("./partials/nav.ejs") %>


    <div class="animal-container">
        <% for (let i = 0; i < animals.length; i++) {   %>
            <div class="animal">
                <a href="/animals/<%= animals[i]._id %>" class="animal-species">
                    <%= animals[i].species %>
                </a>
                <!-- cta - call to action-->
                <div class="cta">
                    <form action="/animals/<%= animals[i]._id%>/?_method=DELETE" method="post" id="deleteform">
                        <input type="submit" value="Remove Animal">
                    </form>
                        <a href="/animals/edit/<%= animals[i]._id%>" class="animal-edit">Edit <%= animals[i].species %></a>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>