<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <% console.log(animal) %>
    <%- include("./partials/nav.ejs") %>
    <h1><%= animal.species %></h1>
    <a href="/animals/edit/<%= animal._id%>">Edit <%= animal.species %> </a>
    <h3><%= animal.location %></h3>
</body>
</html>